<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head"></head>
    <body>
        <th:block th:replace="layout :: menu"/>
        <th:block th:replace="game/menu :: menu"/>
        <div class="container-fluid">
            <th:block th:replace="layout :: title"/>
            <table class="table table-hover" th:if="${!#lists.isEmpty(games)}">
                <thead>
                    <tr>
                        <th>Game</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="game : ${games}">
                        <tr>
                            <td><a th:href="@{|/games/${game.id}/detail|}" th:text="${game.name}"></a></td>
                            <td><a th:href="@{|/games/moveUp/${game.id}|}" th:if="${games.indexOf(game) > 0}">Move up</a></td>
                            <td><a th:href="@{|/games/moveDown/${game.id}|}" th:if="${games.indexOf(game) < games.size() - 1}">Move down</a></td>
                            <td><a th:href="@{|/games/duplicate/${game.id}|}">Duplicate</a></td>
                            <td><a th:href="@{|/games/edit/${game.id}|}">Edit</a></td>
                            <td><a th:href="@{|/games/remove/${game.id}|}">Remove</a></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
            <th:block th:if="${#lists.isEmpty(games)}">No records.</th:block>
            <table class="table">
                <thead>
                    <tr>
                        <th>Count of games</th>
                        <th>Count of media</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${games.size()}"></td>
                        <td th:text="${mediaCount}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
