<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head"></head>
    <body>
        <th:block th:replace="layout :: menu"/>
        <th:block th:replace="music/menu :: menu"/>
        <div class="container-fluid">
            <th:block th:replace="layout :: title"/>
            <table class="table table-hover detail">
                <tbody>
                    <tr>
                        <td class="title">Name</td>
                        <td th:text="${music.music.name}"></td>
                    </tr>
                    <tr>
                        <td class="title">Count of media</td>
                        <td th:text="${music.music.mediaCount}"></td>
                    </tr>
                    <th:block th:if="${music.songsCount > 0}">
                        <tr>
                            <td class="title">Count of songs</td>
                            <td th:text="${music.songsCount}"></td>
                        </tr>
                        <tr>
                            <td class="title">Total length</td>
                            <td th:text="${music.totalLength}"></td>
                        </tr>
                    </th:block>
                    <tr th:if="${!#strings.isEmpty(music.music.note)}">
                        <td class="title">Note</td>
                        <td th:text="${music.music.note}"></td>
                    </tr>
                    <tr th:if="${!#strings.isEmpty(music.music.wikiCz)}">
                        <td colspan="2"><a th:href="@{|http://cz.wikipedia.org/wiki/${music.music.wikiCz}|}" target="_blank">Czech Wikipedia</a></td>
                    </tr>
                    <tr th:if="${!#strings.isEmpty(music.music.wikiEn)}">
                        <td colspan="2"><a th:href="@{|http://en.wikipedia.org/wiki/${music.music.wikiEn}|}" target="_blank">English Wikipedia</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
