<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div class="container-fluid innerMenu" th:fragment="menu">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/music/list}">All music</a></li>
                <li><a th:href="@{/music/new}">New data</a></li>
                <li><a th:href="@{/music/add}">Add music</a></li>
                <li><a th:href="@{/music/update}">Update positions</a></li>
            </ul>
        </div>
    </body>
</html>