<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <head th:fragment="head">
        <title>Catalog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
        <link type="text/css" th:href="@{/css/catalog.css}" rel="stylesheet" media="screen"/>
        <script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
        <script type="text/javascript" th:src="@{/js/modal.js}"></script>
        <script type="text/javascript" th:src="@{/js/catalog.js}"></script>
    </head>
    <body>
        <nav class="navbar navbar-default" th:fragment="menu">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/}">Catalog</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/movies/list}">Movies</a>
                    <li><a th:href="@{/shows/list}">Shows</a>
                    <li><a th:href="@{/games/list}">Games</a>
                    <li><a th:href="@{/music/list}">Music</a>
                    <li><a th:href="@{/programs/list}">Programs</a>
                    <li><a th:href="@{/genres/list}">Genres</a>
                    <li><a th:href="@{/pictures/list}">Pictures</a>
                </ul>
            </div>
        </nav>
        <h2 th:text="${title}" th:fragment="title"></h2>
    </body>
</html>